*~
*.bak
/db/
/incremental_db/
/output_files/
/simulation/
top.jdi
top.qws
serial.qws
serial.done
serial.flow.rpt
serial.map.rpt
serial.map.summary
serial_description.txt
serial.asm.rpt
serial.fit.rpt
serial.fit.smsg
serial.fit.summary
serial.flow.rpt
serial.jdi
serial.pin
serial.pof
serial.sof
serial.sta.rpt
serial.sta.summary
.directory